ul {
    list-style: none;
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: center;
    font-size: 30px;
    margin: 10px;
    li{
        cursor:pointer;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(219, 110, 128) ;
}
